body {
  text-align: center;
}

:root {
  --london-red: #af4a4a;
  --london-blue: #646e95;
  --London-white: #efefef;
}

.image-carousel {
  object-fit: cover;
  height: 400px;
}

.london-blue {
  color: var(--london-blue);
}

.bg-london-blue {
  background-color: var(--london-blue);
}

.london-red {
  color: var(--london-red);
}

.bg-london-red {
  background-color: var(--london-red);
}

.nav-button {
  background-color: var(--london-blue);
  color: var(--London-white);
}

.card-button {
  background-color: var(--london-red);
  color: var(--London-white);
  position: absolute;
  bottom: 5%;
  left: 22%;
}

.main-card {
  display: inline-flex;
}

.card-img-top {
  height: 18rem;
  object-fit: cover;
}

.card {
  border: black solid 1px;
  aspect-ratio: 1;
  height: 300px;
}

.card-body {
  padding-top: 2rem;
  text-align: center;
}

.slide-btn {
  color: black;
  font-size: 3rem;
}

/* Form for posting */

.form-modal {
  position: fixed;
  width: 600px;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: grey solid 1px;
  z-index: 100;
}

.post-form {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.form-title {
  margin-top: 2rem;
}

.form-input {
  width: 60%;
  margin-inline: auto;
}

.post-form > button {
  width: 50%;
  margin-inline: auto;
  margin-bottom: 4rem;
}
.form-textarea {
  width: 60%;
  margin-inline: auto;
}

.label-textarea {
  position: absolute;
  left: 8%;
}

.label-textinput {
  position: absolute;
  left: 8%;
}

.none {
  display: none;
}
